<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <!--<div  ng-repeat="slideShowInfo in data.slideShowList track by $index">-->
        <div class="item" ng-repeat="slideShowInfo in data.slideShowList track by $index"
             ng-class="{active:isActive === $index}">
            <div class="container">
                <div class="carousel-content">
                    <div class="title">
                        <h1>{{slideShowInfo.newsTitle}}</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="pic">
                        <a href="/home/news/newsInfo/{{slideShowInfo.newsId}}" style="cursor:pointer;"><img
                                style="width: 100%" src="{{slideShowInfo.newsImgUrl}}"
                                alt="{{slideShowInfo.newsTitle}}"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
        <!--/.item-->
        <!--<div class="item active">-->
        <!--<div class="container">-->
        <!--<div class="carousel-content">-->

        <!--<div class="title">-->
        <!--<h1>自主软件研发、大数据、金融服务、IT技术培训。</h1>-->
        <!--<p class="lead"></p>-->
        <!--</div>-->
        <!--<div class="pic"><img src="../../../images/ppt1.jpg" alt="成都小风车科技有限公司－立足新起点，开创新局面。"></div>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>&lt;!&ndash;/.item&ndash;&gt;-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="glyphicon glyphicon-menu-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="glyphicon glyphicon-menu-right"></i></a>
</section>
<div class="container">
    <div class="title-comm">
        <h3 class="welinain">关于旅行</h3>
        <p class="line"></p>
        <p class="mtop40">真正的旅行，从来不是一堆照片的堆砌和满足内心小小的虚弱</p>
        <p class="linh25">正因如此，旅行并不仅仅是去看风景，更难的是旅行之前的期待、旅行进行时的感动和旅行归来时的回味无穷。</p>
    </div>
</div>
<div class="container" style="margin-bottom: 50px">
    <div class="title-comm">
        <h3 class="welinain">我们的景点</h3>
        <p class="line"></p>
        <p class="mtop40">
            没有到过草原，你就不能明了“天苍苍，野茫茫，风吹草低见牛羊”的那份寥廓和深远；没有到过草原，你就不知道‘天穹压落、云欲擦肩’的那份豪迈和洒脱；没有到过草原，你就永远不能体会在大自然的雄奇和伟大面前，你的灵魂是一种怎样地颤动和震撼！</p>
        <p class="linh25">
            夏日的辉腾锡勒草原弥漫着花草清香。蓝天白云，暖暖的阳光照在身上，一切都那么美好。当你静静躺在秀美的草原之上，耳畔传来远处悠扬的马头琴声，犹如天籁，往日的烦躁在这一刻烟消云散。在绿色的大海之上心情是如此恬静，这里会是你永远心驰神往的地方。</p>
    </div>

    <div class=" app-none" style="position:relative;">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4" style="text-align: -webkit-center;"
                     ng-repeat="viewspot in viewSpotData.viewSpotInfoList | limitTo: 12">
                    <span class="imageUrl" style="background:url({{viewspot.viewSpotImageUrl}}) no-repeat center center;background-size:cover;">
                         <!--<img src="{{viewspot.viewSpotImageUrl}}">-->
                    </span>
                    <p style="text-align: -webkit-center;">{{viewspot.viewSpotTitle}}</p>
                </div>

            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="container" style="margin-bottom: 50px">
    <div class="title-comm">
        <h3 class="welinain">我们的住宿</h3>
        <p class="line"></p>
        <p class="mtop40">蒙古包，蒙语里包即为家的意思，蒙古包自匈奴时代起沿用至今，从蒙古族的实用型建筑，演化成了今天的景观型建筑，蒙古包是蒙族文化的象征。</p>
        <p class="linh25">蒙古包顶部呈圆拱形，不仅起到了大方美观的作用，而且在雨雪天气包顶不易积水，且圆拱形坚固耐用，可抗八九级大风，且蒙古包易搭建和拆卸，满足了古代的战争需求。</p>
        <p class="linh25">蒙族人的搭建的蒙古包有特制的木架做“哈那”，即外部围栏支撑，围上多层羊毛毡，蒙古包的羊毛毡取自羊身上最柔软的毛，经过多人千次的捶打制成，具有很好的耐寒性和保湿性。</p>
        <p class="linh25">蒙古包顶部开有窗户，易于采光和通风，蒙古包的门开向东南方向，有效地避免了西伯利亚寒流的侵蚀。</p>
        <p class="linh25">素来具有高超模仿能力的中国人在蒙古包的发展上有了更深的造诣，今天的蒙古包已经不仅仅是御寒的作用了，更朝着美观大方、舒适耐用、多元化的方向发展。
            蒙古包的支撑结构首先发生了革命性的变化，由木质结构逐步演变为钢架支撑，钢架不仅在价格上便宜，而且更坚固耐用，木料比钢架也更易于腐蚀。
            其次外部采用了保暖性更好的防雨帆布，内部围上多层羊毛毡在配上明黄色考究的装饰，给人一种舒适感，在夜晚温度下降的坝上草原也起到了很好的保暖效果。</p>
    </div>
    <div class="row">
        <div class=" app-none" style="position:relative;">
            <div class="mb-describe hbox box-v-center">
                <div class="col-md-8" style="padding:0">
                    <div id="mb-ibox" class="mb-ibox ">
                        <div class=" animated ShowBgUp" ng-if="houseData.lucuryHouse">
                            <a class="" href="/home/house/houseInfo/{{houseData.lucuryHouse.houseId}}"
                               style="cursor:pointer;">
                                <img src="{{houseData.lucuryHouse.houseImge}}" class="img-responsive"
                                     style="width: 100%">
                            </a>
                        </div>


                        <div class=" animated ShowBgUp" ng-if="houseData.highgradeHouse">
                            <a class="move" href="/home/house/houseInfo/{{houseData.highgradeHouse.houseId}}"
                               style="cursor:pointer;">
                                <img src="{{houseData.highgradeHouse.houseImge}}" class="img-responsive"
                                     style="width: 100%">
                            </a>
                        </div>


                        <div class=" animated ShowBgUp" ng-if="houseData.comfortableHouse">
                            <a class="cur" href="/home/house/houseInfo/{{houseData.comfortableHouse.houseId}}"
                               style="cursor:pointer;">
                                <img src="{{houseData.comfortableHouse.houseImge}}" class="img-responsive"
                                     style="width: 100%">
                            </a>
                        </div>


                        <div class=" animated ShowBgUp" ng-if="houseData.economicsHouse">
                            <a class="" href="/home/house/houseInfo/{{houseData.economicsHouse.houseId}}"
                               style="cursor:pointer;">
                                <img src="{{houseData.economicsHouse.houseImge}}" class="img-responsive"
                                     style="width: 100%">
                            </a>
                        </div>

                    </div>
                </div>
                <div id="mb-itxt" class="col-md-4">
                    <div style="display: none;" class="slide-itxt" ng-if="houseData.lucuryHouse">
                        <div class="kePublic-rightdiv">
                            <div class="jiankangguwen-ico animated animateUp delay_1"></div>
                            <div class="tuandui-title">
                                <div class="animated animateUp delay_2">{{houseData.lucuryHouse.houseType}}</div>
                            </div>
                            <div class="kePublic-cont-info animated animateUp delay_3">
                                {{houseData.lucuryHouse.houseDescribe}}
                            </div>
                        </div>
                    </div>
                    <div style="display: none;" class="slide-itxt" ng-if="houseData.highgradeHouse">
                        <div class="kePublic-rightdiv">
                            <div class="xietiaozhuanyuan-ico  animated animateUp delay_1"></div>
                            <div class="tuandui-title">
                                <div class="animated animateUp delay_2">{{houseData.highgradeHouse.houseType}}</div>
                            </div>
                            <div class="kePublic-cont-info animated animateUp delay_3">
                                {{houseData.highgradeHouse.houseDescribe}}
                            </div>
                        </div>
                    </div>
                    <div style="display: block;" class="slide-itxt" ng-if="houseData.comfortableHouse">
                        <div class="kePublic-rightdiv">
                            <div class="jiatingyisheng-ico  animated animateUp delay_1"></div>
                            <div class="tuandui-title">
                                <div class="animated animateUp delay_2">{{houseData.comfortableHouse.houseType}}</div>
                            </div>
                            <div class="kePublic-cont-info animated animateUp delay_3">
                                {{houseData.comfortableHouse.houseDescribe}}
                            </div>
                        </div>
                    </div>
                    <div style="display: none;" class="slide-itxt" ng-if="houseData.economicsHouse">
                        <div class="kePublic-rightdiv">
                            <div class="tuhuandaifu-ico  animated animateUp delay_1"></div>
                            <div class="tuandui-title">
                                <div class="animated animateUp delay_2">{{houseData.economicsHouse.houseType}}</div>
                            </div>
                            <div class="kePublic-cont-info animated animateUp delay_3">
                                {{houseData.economicsHouse.houseDescribe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul id="mb-inav" class="mb-inav-about ">
                <li ng-if="houseData.lucuryHouse">
                    <div class="item-li"></div>
                </li>
                <li ng-if="houseData.highgradeHouse">
                    <div class="item-li"></div>
                </li>
                <li ng-if="houseData.comfortableHouse">
                    <div class="item-li cur"></div>
                </li>
                <li ng-if="houseData.economicsHouse">
                    <div class="item-li"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div id="txtMarquee-top" class="demoBox ">
        <div name="effect10" id="effect10" class="hd"><h3><span></span>新闻</h3></div>
        <div class="bd">
            <div class="txtMarquee-top">
                <div class="hd">
                    <a class="next"></a>
                    <a class="prev"></a>
                </div>
                <div class="bd">
                    <ul class="infoList">
                        <li ng-repeat="newsInfo in data.newsList" on-finish-render-filters>
                            <span class="date">{{newsInfo.createDate}}</span>
                            <a href="/home/news/newsInfo/{{newsInfo.newsId}}">{{newsInfo.newsTitle}}</a>
                        </li>
                    </ul>
                    <!--<ul class="infoList">-->
                    <!--<li>-->
                    <!--<span class="date">2011-11-11</span>-->
                    <!--<a href="http://www.SuperSlide2.com" target="_blank">中国打破了世界软件巨头规则</a>-->
                    <!--</li>-->
                    <!--<li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">口语：会说中文就能说英语！</a>-->
                    <!--</li>-->
                    <!--<li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">农场摘菜不如在线学外语好玩</a>-->
                    <!--</li>-->
                    <!--<li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a>-->
                    <!--</li>-->
                    <!--<li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">学英语送ipad2,45天突破听说</a>-->
                    <!--</li>-->
                    <!--<li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">学外语，上北外！</a>-->
                    <!--</li>-->
                    <!--<li><span class="date">2011-11-11</span><a href="http://www.SuperSlide2.com" target="_blank">那些无法理解的荒唐事</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div><!-- bd E -->
    </div>
</div>
<div class="container">
    <div id="picMarquee-left" class="demoBox  demoBoxEven">
        <div name="effect5" id="effect5" class="hd"><h3><span>游客足迹.</span>感谢一路陪伴</h3></div>
        <div class="bd">
            <div class="picMarquee-left">
                <div class="hd">
                    <a class="next"></a>
                    <a class="prev"></a>
                </div>
                <div class="bd" style="text-align: -webkit-center;">
                    <ul class="picList">
                        <li ng-repeat="touristInfo in touristData.touristInfoList" on-finish-render-filters>
                            <div class="pic"><a href="#"><img
                                    src="{{touristInfo.touristImageUrl}}"/></a></div>
                            <div class="title"><a href="#">{{touristInfo.touristName}}</a>
                            </div>
                        </li>
                        <!--<li>-->
                        <!--<div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img-->
                        <!--src="../images/pic2.jpg"/></a></div>-->
                        <!--<div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图2</a></div>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img-->
                        <!--src="../images/pic3.jpg"/></a></div>-->
                        <!--<div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图3</a></div>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img-->
                        <!--src="../images/pic4.jpg"/></a></div>-->
                        <!--<div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图4</a></div>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img-->
                        <!--src="../images/pic5.jpg"/></a></div>-->
                        <!--<div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图5</a></div>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img-->
                        <!--src="../images/pic6.jpg"/></a></div>-->
                        <!--<div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图6</a></div>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<div class="pic"><a href="http://www.SuperSlide2.com" target="_blank"><img-->
                        <!--src="../images/pic7.jpg"/></a></div>-->
                        <!--<div class="title"><a href="http://www.SuperSlide2.com" target="_blank">效果图7</a></div>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div><!-- bd E -->
    </div>
</div>

